body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height:100%;

}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: blue;  /* optional: just make scrollbar invisible */
    display: none;
}

.fullscreen-container{
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container-banner{
    position: relative;
    overflow: hidden;
    width: 100%;
    height:33.33%;
}
.top-container{
  background-color: gray;
}

.middle-container{
  overflow: hidden;
  background-color: darkblue;
  float: right;
}

.bottom-container{
  overflow: hidden;
  background-color: black;
}

.container-inner {
    position: absolute;
    display : flex;
    align-items : center;
    height:100%;
    min-height: 100%;
    left: 0px;
    width: 100%;
    overflow:hidden;
    /* background-color: red; */
}

.middle-container .container-inner{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
    flex-direction: row-reverse;
}
.image-container{
  height:100%;
  /* padding-left: 10px; */
}

.image-container > img{
  box-sizing: border-box;
  /* padding: 10px; */
  height: 100%;
}
